<head>
	<link href="view/home/home.style.css" type="text/css" rel="stylesheet" />
</head>

<header>
	<nav class="red" role="navigation">
	  <div class="nav-wrapper container"><a id="logo-container" href="view/" class="brand-logo center">PokeHub</a>
	  </div>
	</nav>
</header>

<main class="valign-wrapper">
		<div class="carousel carousel-slider center" data-indicators="true">
			<div class="carousel-fixed-item center">
				<div class="row">
					<div class="col s6">
						<a class="btn waves-effect red" href="view/login">Login</a>
					</div>
					<div class="col s6">
						<a class="btn waves-effect red" href="view/register">Register</a>
					</div>
				</div>
			</div>
			<div class="carousel-item red black-text" href="#one!">
				<video autoplay muted loop>
					<source src="view/assets/video/poke.mp4" type="video/mp4">
				</video>
				<h2>File Management</h2>
				<p>Capture your favorite files and store them securely using Pokehub!</p>
			</div>
			<div class="carousel-item grey white-text" href="#two!">
				<h2>Download</h2>
				<p>Transfer files on Pokehub back onto your computer with the click of a button!</p>
			</div>
			<div class="carousel-item red white-text" href="#three!">
				<h2>Delete</h2>
				<p>Delete files on Pokehub!</p>
			</div>
			<div class="carousel-item grey white-text" href="#four!">
				<h2>Folders</h2>
				<p>Manage your files with folders!</p>
			</div>
		</div>
</main>

<footer class="page-footer red">
	<appfooter></appfooter>
</footer>