video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

h1 {
   font-family: 'Lato', sans-serif;
   font-weight: 900;
   font-size: 115px;
}

p, li {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 35px;

}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

.stopfade { 
   opacity: .5;
}