.droparea {
	/*border: 5px dashed #DDD;*/
	/*width: 200px;*/
	height: 400px;
	text-align: center;
/*	padding-top: 25px;*/
	/*margin: 10px;*/
}



.dragover {

}


.size{
	width: 380px;
    height: 340;
}