<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<menu-bar></menu-bar>

<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="sidebar_close()">Close &times;</button>
  <h1> Welcome Pokemon Trainer </h1>
  <p>Here are all the instructions you need to know in order to become a Pokemon Master!
  <ul>
  	<li>1. Drag and drop things to the pokeball</li>
  	<li>2. Click Download button to download file</li>
  	<li>3. Click Delete button to delete file</li>
  </ul>

  <p> Enjoy your file sharing advanture</p>

</div>

<div zclass="w3-main" id="main">


  <button class="w3-button w3-teal w3-xlarge" onclick="sidebar_open()">How to Use?</button>


<div class="container">
	<div class="row">
		<h1 class="header black-text">{{vm.firstName}} {{vm.lastName}} {{$scope.age}}</h1>
		<div class="divider"></div>
	</div>

	<file-viewer></file-viewer>

	<form class="col s12" ng-submit="vm.onSubmit()">
		<div class="row">
			<div class="input-field col s8">
				<input id="folder_name" ng-model="vm.params.folderName" type="text">
				<label for="folder_name">Folder Name</label>
	        </div>
			<button class="red btn s4 valign-wrapper" type="submit">Create Folder</button>
		</div>
	</form>

	<div class="divider"></div>

	<ul>
		<li ng-repeat="x in model.lastUpdated">
			<div class="container">
				<div class="row">
					<h6 class="col s3">{{x.name}}</h6>
					<a class="red btn col s3" ng-href="{{x.path}}" download>Download</a>
					<div class="col s1"></div>
					<btn class="grey btn col s3" ng-click="vm.deleteFile(x._id)">Delete</btn>
				</div>
			</div>
		</li>
	</ul>
</div>