<body ng-view>
	<nav class="red" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">PokeHub</a>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<h1 class="header black-text">Login</h1>
			<p class="lead">Not a member? Please <a href="register">register</a> instead.</p>
			<div class="divider"></div>
		</div>
		<div class="row">
			<form class="col s12" action="/login" method="post">
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate">
						<label for="email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<button class="btn waves-effect red" type="submit" name="action">Submit</button>
				</div>
			</form>
		</div>
	</div>
</body>