<header>
	<nav class="red" role="navigation">
	  <div class="nav-wrapper container"><a id="logo-container" href="view/" class="brand-logo center">PokeHub<img src="view/core/fileViewer/img/logo.png" style="width: 40px; height: auto"></a>
	  </div>
	</nav>
</header>

<main>
	<div class="container">
		<div class="row">
			<h1 class="header black-text">User Activated</h1>
			<p class="lead">Gotcha! You were caught! Feel free to <a href="view/login">login</a>.</p>
			<div class="divider"></div>
			<p>Welcome to Pokehub!
			</p>
		</div>
	</div>
</main>

<footer class="page-footer red">
	<appfooter></appfooter>
</footer>