<head>
	<link href="view/status/status.style.css" type="text/css" rel="stylesheet" />
</head>

<header>
	<nav class="red" role="navigation">
	  <div class="nav-wrapper container"><a id="logo-container" href="view/" class="brand-logo center">Pok&eacuteHub<img src="view/core/fileViewer/img/logo.png" style="width: 40px; height: auto"></a>
	  </div>
	</nav>
</header>

<main class="valign-wrapper">
	<div class="container">
		<ul id="staggered-list">
			<li style="opacity: 0px;">
				<h1 class="header black-text">Page Not Found</h1>
			</li>
		</ul>
	</div>
</main>

<footer class="page-footer red">
	<appfooter></appfooter>
</footer>