<head>
  <link href="view/core/menu/menu.style.css" type="text/css" rel="stylesheet" />
</head>

<nav class="red" role="navigation">
  <div class="nav-wrapper container">

	<ul id="slide-out" class="side-nav fixed">
    <li>
      <div class="userView">
        <div class="background">
          <img src="view/assets/images/background.jpg">
        </div>
        <a href="">
          <img class="circle" src="view/assets/images/profile.png">
        </a>
        <a href="">
          <p class="white-text">Welcome<br>{{vm.firstName}} {{vm.lastName}}</p>
        </a>
      </div>

      <a class="waves-effect waves-light black white-text center-align" ng-click="vm.onClick()">Logout</a>
    </li>
    <li>
      <div class="divider"></div>
    </li>
	  <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="waves-effect waves-red collapsible-header">
              <i class="material-icons">help</i>
              To Download Files
            </a>
            <div class="collapsible-body">
              <ul>
          		  <li>
                  <p class="black-text center-align">Click "DOWNLOAD" button</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="waves-effect waves-red collapsible-header">
              <i class="material-icons">help</i>
              To Delete Files
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <p class="black-text center-align">Click "DELETE" button</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="waves-effect waves-red collapsible-header">
              <i class="material-icons">help</i>
              To Download Files
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <p class="black-text center-align">Click "DOWNLOAD" button</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="waves-effect waves-red collapsible-header">
              <i class="material-icons">help</i>
              To Preview Files
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <p class="black-text center-align">Click file names</p>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </li>
	</ul>

  <a id="logo-container" href="#" class="brand-logo center">Pok&eacuteHub<img src="view/core/fileViewer/img/logo.png" style="width: 40px; height: auto"></a>

	<ul id="nav-mobile" class="left red">
	    <li><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">perm_identity</i></a></li>
	</ul>

  </div>
</nav>