<nav class="red" role="navigation">
  <div class="nav-wrapper container">

	<ul id="slide-out" class="side-nav fixed grey lighten-2">
      <li>
        <div class="userView red">
	        <h4 class="white-text center-align">{{vm.firstName}} {{vm.lastName}}</h4>
        </div>
        <a class="waves-effect waves-light black white-text center-align" ng-click="vm.onClick()">Logout</a>
      </li>
	  <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">How to Use?<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
		  <li><p class="black-text">1. Drag and drop things to the pokeball</p></li>
		  <li><p class="black-text">2. Click Download button to download file</p></li>
		  <li><p class="black-text">3. Click Delete button to delete file</p></li>
		  <li><p class="black-text"> Enjoy your file sharing advanture</p></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
	</ul>
	<ul class="right hide-on-med-and-down">
      <ul id='dropdown1' class='dropdown-content'>
		  <li><p class="black-text">1. Drag and drop things to the pokeball</p></li>
		  <li><p class="black-text">2. Click Download button to download file</p></li>
		  <li><p class="black-text">3. Click Delete button to delete file</p></li>
		  <li><p class="black-text"> Enjoy your file sharing advanture</p></li>
      </ul>
    </ul>

  	<a id="logo-container" href="#" class="brand-logo center">PokeHub<img src="view/core/fileViewer/img/logo.png" style="width: 40px; height: auto"></a>

	<ul id="nav-mobile" class="right red">
	    <li><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">perm_identity</i></a></li>
	</ul>

  </div>
</nav>